body {
    background-color: #215878;
    margin: 0;
}

section {
    background-color: #2E6C91;
    /*padding: 1em;*/
}

header {
    margin: 1em;
}
h1 {
    color: #FFFFFF;
    font-family:'Gloria Hallelujah', cursive;
}

.grid-container {
    display: grid;
    margin-right: 1em;
    margin-left: 1em;
    grid-template-columns: auto auto;
    grid-gap: 1em;
}

@media only screen and (max-width: 886px) {
	.grid-container {
		grid-template-columns: auto;
	}
}

@media only screen and (max-width: 410px) {
	.grid-container {
		margin: auto;
        padding: 0em;
	}
}

span {
    color: #FFFFFF;
}

/* Score section */
.score {
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
    .score p {
        color: #FFFFFF;
        text-align: center;
        font-family:'Gloria Hallelujah', cursive;
        font-weight: bold;
        font-size: 25px;
    }

#subhead {
    font-size: 17px;
    font-weight: normal;
}


#cookieclick {
    background-color: #2E6C91;
    border: none;
    display: grid;
    justify-content: center;
}
#cookieclick:hover {
    cursor: pointer;
}


.score img {
    width: 300px;
    border-radius: 50%;
    margin: 0.5em;
    transition: .3s ease;
}

#cookie:hover {
    box-shadow: 17px 17px 2px 1px rgba(255, 255, 255, 0.253);
    box-shadow: 2px 1px 17px 17px rgba(255, 255, 255, 0.253);
}

#cookie_label {
    font-family: 'Gloria Hallelujah', cursive;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
}

.buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding-bottom: 1em;
}

.btn:hover {
    cursor: pointer;
}

.buttons span {
    text-decoration: none;
    color: #215878;
    font-family:'Gloria Hallelujah', cursive;
    font-weight: bold;
}

#save {
    background-color: #FFB864;
    border: none;
    border-radius: 20px;
    padding: 5px 30px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    font-size: 16px;
}
#save:hover {
    box-shadow: 10px 10px 2px 1px rgba(255, 255, 255, 0.253);
    box-shadow: 2px 1px 10px 10px rgba(255, 255, 255, 0.253);
}

#load {
    background-color: #FFB864;
    border: none;
    border-radius: 20px;
    padding: 5px 30px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    font-size: 16px;
}
#load:hover {
    box-shadow: 10px 10px 2px 1px rgba(255, 255, 255, 0.253);
    box-shadow: 2px 1px 10px 10px rgba(255, 255, 255, 0.253);
}

#reset {
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 5px 25px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    font-size: 16px;
}
#reset:hover {
    box-shadow: 10px 10px 2px 1px rgba(255, 255, 255, 0.253);
    box-shadow: 2px 1px 10px 10px rgba(255, 255, 255, 0.253);
}


/* Store section */
.store {
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.store p {
    color: #FFFFFF;
    text-align: center;
    font-family:'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 17px;
}


/* Multipliers */

#multiplier-box {
    display: grid;
    justify-content: center;
    padding-top: 0.1em;
    padding-bottom: 1em;
}

#multiplier {
    background-color: #2E6C91;
    border: solid;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    padding: 0.1em 2em 0.1em 2em;
}
#multiplier:hover {
    box-shadow: 10px 10px 2px 1px rgba(255, 255, 255, 0.253);
    box-shadow: 2px 1px 10px 10px rgba(255, 255, 255, 0.253);
}

#buyMultiplier {
    text-decoration: none;
    color: #215878;
    font-family:'Gloria Hallelujah', cursive;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}


/* Autoclickers */

#autoclicker-box {
    display: grid;
    justify-content: center;
    padding-bottom: 1em;
}

#autoclicker {
    background-color: #2E6C91;
    border: solid;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 20px;
    display: grid;
    justify-content: center;
}
#autoclicker:hover {
    box-shadow: 10px 10px 2px 1px rgba(255, 255, 255, 0.253);
    box-shadow: 2px 1px 10px 10px rgba(255, 255, 255, 0.253);
}

#buyAutoClick {
    text-decoration: none;
    color: #215878;
    font-family:'Gloria Hallelujah', cursive;
    font-weight: bold;
}

#cursor {
    width: 1.5em;
    height: 1.8em;
    background-color: rgba(46, 108, 145, 0) !important ;
    padding-top: 0.7em;
}

/* Booster */
#booster-box {
    display: grid;
    justify-content: center;
    padding-bottom: 1.3em;
}

#boosterCost {
    background-color: #2E6C91;
    border: solid;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    padding: 0.5em 7.5em 0.5em 7.5em;
}

#boosterCost:hover {
    box-shadow: 10px 10px 2px 1px rgba(255, 255, 255, 0.253);
    box-shadow: 2px 1px 10px 10px rgba(255, 255, 255, 0.253);
}

#buyBooster {
    text-decoration: none;
    color: #215878;
    font-family:'Gloria Hallelujah', cursive;
    font-weight: bold;
}


