/* For entire page */

body {
    background-color: #215878;
    margin: 0;
}

header {
    margin: 1em;
    padding-top: 0.1em;
    padding-left: 0.5em;
}

    h1 {
        color: #FFFFFF;
        font-family:'Gloria Hallelujah', cursive;
    }
    h6 {
        display: none;
    }

.grid-container {
    display: grid;
    margin: auto;
    grid-template-columns: auto auto;
}
.grid-item {
    margin: 0em 1em 0em 1em;
    background-color: #2E6C91;
}
section {
    display: grid;
    justify-content: center;
}

@media only screen and (max-width: 886px) {
	.grid-container {
		grid-template-columns: auto;
        grid-gap: 1em;
	}
}

@media only screen and (max-width: 410px) {
	.grid-container {
		margin: auto;
        padding: 0em;
	}
}

p {
    color: #FFFFFF;
    font-family:'Gloria Hallelujah', cursive;
    text-align: center;
    word-wrap: break-word;
}

label {
    word-wrap: break-word;
}


/* Score section */

.score label {
    color: #FFFFFF;
    font-family:'Gloria Hallelujah', cursive;
    font-size: 25px;
    text-align: center;
}


/* Cookie button */
.score img {
    width: 300px;
    border-radius: 50%;
    margin: 0.5em;
    transition: .3s ease;
}
#cookie:hover {
    box-shadow: 17px 17px 2px 1px rgba(255, 255, 255, 0.253);
    box-shadow: 2px 1px 17px 17px rgba(255, 255, 255, 0.253);
}
#clicker {
    background-color: #2E6C91;
    border: none;
    display: grid;
    justify-content: center;
}
#clicker:hover {
    cursor: pointer;
}

#cookiesPerSecond {
    margin-bottom: 3em;
}

/* All buttons */
.score button {
    border: none;
    border-radius: 20px;
    margin: 0.5em 0em 0.5em 0em;
    display: inline-block;
    font-size: 15px;
    color: #2E6C91;
    font-family:'Gloria Hallelujah', cursive;
    font-weight: bold;
}

    #save {
        background-color: #FFB864;
        padding: 0.5em 3em 0.5em 3em;
    }
    #save:hover {
        box-shadow: 10px 10px 2px 1px rgba(255, 255, 255, 0.253);
        box-shadow: 2px 1px 10px 10px rgba(255, 255, 255, 0.253);
        cursor: pointer;
    }
    #load {
        background-color: #FFB864;
        padding: 0.5em 1.7em 0.5em 1.7em;
    }
    #load:hover {
        box-shadow: 10px 10px 2px 1px rgba(255, 255, 255, 0.253);
        box-shadow: 2px 1px 10px 10px rgba(255, 255, 255, 0.253);
        cursor: pointer;
    }
    #reset {
        background-color: #FFFFFF;
        padding: 0.5em 5em 0.5em 5em;
        margin-bottom: 2.5em;
    }
    #reset:hover {
        box-shadow: 10px 10px 2px 1px rgba(255, 255, 255, 0.253);
        box-shadow: 2px 1px 10px 10px rgba(255, 255, 255, 0.253);
        cursor: pointer;
    }



/* Store section*/

.store {
    padding-top: 1.5em;
}

.store label {
    color: #FFFFFF;
    font-family:'Gloria Hallelujah', cursive;
    font-size: 17px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.store button {
    border: solid;
    border-color: #FFFFFF;
    background-color: #2E6C91;
    border-radius: 20px;
    padding: 5px 30px;
    display: inline-block;
    font-size: 15px;
    color: #FFFFFF;
    font-family:'Gloria Hallelujah', cursive;
    font-weight: bold;
}
.store button:hover {
    box-shadow: 10px 10px 2px 1px rgba(255, 255, 255, 0.253);
    box-shadow: 2px 1px 10px 10px rgba(255, 255, 255, 0.253);
    cursor: pointer;
}

#boosterCost {
    margin-bottom: 1em;
}

/* Footer */
footer {
    margin-top: 2em;
    margin: 2em 1em 1em 1em;
}
footer p {
    font-size: 13px;
}